@import '../../../sass/variables/variables.scss';

.card {
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction:column;
  border-radius: 30px;

  .time {
    font-size: 20px;
    line-height: 24.38px;
    margin-left: 15px;
    color: $primary_color;
  }
  .svg_weather {
    size: 20px;
    margin-bottom: 10px;
  }
  .temp {
    font-size: 18px;
    margin-left: 38px;
    color: $primary_color;
  }
}

.days {
  height: 200px;
  max-width: 1000px;
  background: black;
  display: flex;
  margin-top: 96px;
  align-items: center;
}
