.wrapper{
  background: linear-gradient(172.97deg, rgba(78, 93, 132, 0.9) 0.82%, rgba(78, 107, 182, 0.9) 98.83%);
  max-height: 969px;
  width: 376px;
  backdrop-filter: blur(20px);
  border-radius: 35px;
  padding: 30px 29px 50px 28px;
  margin: 0 auto;
}
