.wrapper {
	background: linear-gradient(
		172.97deg,
		rgba(78, 93, 132, 0.9) 0.82%,
		rgba(78, 107, 182, 0.9) 98.83%
	);
	max-height: 100%;
	max-width: 376px;
	backdrop-filter: blur(20px);
	border-radius: 35px;
	padding: 30px 28px 20px;
  
  font-size: 24px;

	&_forecast {
		display: flex;
		align-items: center;
		margin-bottom: 56px;
		svg {
      flex: 1;
		}
		&_nameDay {
			font-weight: 700;
		}
		&_degBlack {
			color: rgba(255, 255, 255, 0.5);
		}
		
	}
	&_info {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-weight: 700;
		h3 {
			margin-left: 8px;
		}
	}
}