@use "sass:math";

// vars ========================================================================================================================================================

@import "base/vars";

// Підключення міксинів ========================================================================================================================================================

@import "base/mixins";

// Підключення шрифтів ========================================================================================================================================================

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// Шрифт за замовчуванням ========================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: rem(14); // rem(Розмір шрифта по макету)

// Основний колір шрифта
$mainColor: #fff;

// Основний колір сторінки
$bgColor: #fff;

// Настройки ========================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина макета
$maxWidth: 1920;
// Ширина контейнера (0 = нема обмеження)
$maxWidthContainer: 1170;
// Общий відступ у контейнера
// (30 = по 15px ліворуч, праворуч; 0 = нема відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпойнту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-пойнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети в горизонтальному положенню
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенню
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = відзивчивість (у контейнера нема брейкпойнтів),
// 2 = по брейк-пойнтам (контейнер міняє свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнулення всіх стилів і загальні стилі ========================================================================================================================================================
@import "base/reset";

// Стилі тегу body
body {
    // Скрол заблокаваниий
    .lock {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}

// Стилі тегу wrapper
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // Прижимаєио footer
    > main {
        flex: 1 1 auto;
    }
    // Фікс для слайдерів
    > * {
        min-width: 0;
    }

}

// Контейнер ========================================================================================================================================================


@if ($responsiveType==1) {
	// Відзивчивий
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-пойнтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготовків) і допоміжних класів========================================================================================================================================================
@import "base";

